* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  background-color: #222;
  flex-direction: column;
}

h2 {
  position: relative;
  font-size: 3em;
  letter-spacing: 0.05em;
  cursor: default;
  text-transform: uppercase;
  font-weight: 500;
}

h2 span {
  color: #555;
  transition: 0.25s;
}

h2:hover span {
  color: yellow;
  text-shadow: 0 0 5px yellow, 0 0 15px yellow, 0 0 30px yellow;
}

h4 {
  position: relative;
  font-size: 3em;
  letter-spacing: 0.05em;
  cursor: default;
  text-transform: uppercase;
  font-weight: 500;
}
